In [1]:
import h5py
import pandas as pd
import os
import tarfile

tar_path = "millionsongsubset.tar.gz"

extract_path = "/Users/belma/Documents/IRONHACK/Lessons/Week_6/Day_1/Afternoon/lab-not-hot-songs/"

with tarfile.open(tar_path, "r:gz") as tar:
    tar.extractall(extract_path)

path = os.path.join(extract_path, "MillionSongSubset")

folders = os.listdir(path)

dfs = []

for folder in folders:
    folder_path = os.path.join(path, folder)
    for root, dirs, files in os.walk(folder_path):
        for file in files:
            if file.endswith(".h5"):
                file_path = os.path.join(root, file)
                with h5py.File(file_path, "r") as f:
                   
                    metadata = f["metadata"]["songs"]
                    song_id = metadata["song_id"][0]
                    artist_name = metadata["artist_name"][0]
                    title = metadata["title"][0]

                    
                    dfs.append(pd.DataFrame({
                        "song_id": [song_id],
                        "artist_name": [artist_name],
                        "title": [title],
                    }))

df = pd.concat(dfs, ignore_index=True)
df

,song_id,artist_name,title
0,b'SOGSMXL12A81C23D88',b'Rapha\xc3\xabl',b'Je Sais Que La Terre Est Plate'
1,b'SOMBCOW12AAF3B229F',b'Julie Zenatti',b'On Efface'
2,b'SOEYIHF12AB017B5F4',b'The Baltimore Consort',b'Howells Delight'
3,b'SODJYEC12A8C13D757',b'I Hate Sally',b'Martha Served'
4,b'SOGSOUE12A58A76443',b'Orlando Pops Orchestra',b'Zip-A-Dee-Doo-Dah (Song of the South)'
...,...,...,...
9995,b'SOWJQRH12AB0186761',b'Brent Lamb',b'One About Heaven'
9996,b'SOIFMVY12A8AE467B1',b'U2',b'October'
9997,b'SOGVDLQ12A58A7E3C5',b'ZO2',"b""Comin' Home"""
9998,b'SOVVGSH12A8C14085F',b'Eddie',b'Pode Me Chamar'
9999,b'SOPNUVB12A8C13627D',b'Vincent Bruley',b'Souffle 2'

In [2]:
def remove_prefix(b_string):
    return str(b_string)[2:-1]

df = df.applymap(remove_prefix)

df

,song_id,artist_name,title
0,SOGSMXL12A81C23D88,Rapha\xc3\xabl,Je Sais Que La Terre Est Plate
1,SOMBCOW12AAF3B229F,Julie Zenatti,On Efface
2,SOEYIHF12AB017B5F4,The Baltimore Consort,Howells Delight
3,SODJYEC12A8C13D757,I Hate Sally,Martha Served
4,SOGSOUE12A58A76443,Orlando Pops Orchestra,Zip-A-Dee-Doo-Dah (Song of the South)
...,...,...,...
9995,SOWJQRH12AB0186761,Brent Lamb,One About Heaven
9996,SOIFMVY12A8AE467B1,U2,October
9997,SOGVDLQ12A58A7E3C5,ZO2,Comin' Home
9998,SOVVGSH12A8C14085F,Eddie,Pode Me Chamar
9999,SOPNUVB12A8C13627D,Vincent Bruley,Souffle 2

In [3]:
df.to_csv('not_hot_extracted.csv')