### Lab | Creating a database of not_hot_songs

In [1]:
import pandas as pd

In [2]:
#!dir

In [4]:
df1 = pd.read_csv("top_100.csv")
df2 = pd.read_csv("not_hot_extracted.csv")

In [5]:
df1

    Unnamed: 0                              title                      artists
0            0                         Last Night                Morgan Wallen
1            1                          Kill Bill                          SZA
2            2                            Flowers                  Miley Cyrus
3            3                    Ella Baila Sola  Eslabon Armado X Peso Pluma
4            4                          Un x100to   Grupo Frontera X Bad Bunny
..         ...                                ...                          ...
95          95                  It Matters To Her              Scotty McCreery
96          96                         Like Crazy                        Jimin
97          97  All Of The Girls You Loved Before                 Taylor Swift
98          98                      5 Leaf Clover                   Luke Combs
99          99                          Big Truck   YoungBoy Never Broke Again

[100 rows x 3 columns]

In [6]:
df2

,Unnamed: 0,song_id,artist_name,title
0,0,SOGSMXL12A81C23D88,Rapha\xc3\xabl,Je Sais Que La Terre Est Plate
1,1,SOMBCOW12AAF3B229F,Julie Zenatti,On Efface
2,2,SOEYIHF12AB017B5F4,The Baltimore Consort,Howells Delight
3,3,SODJYEC12A8C13D757,I Hate Sally,Martha Served
4,4,SOGSOUE12A58A76443,Orlando Pops Orchestra,Zip-A-Dee-Doo-Dah (Song of the South)
...,...,...,...,...
9995,9995,SOWJQRH12AB0186761,Brent Lamb,One About Heaven
9996,9996,SOIFMVY12A8AE467B1,U2,October
9997,9997,SOGVDLQ12A58A7E3C5,ZO2,Comin' Home
9998,9998,SOVVGSH12A8C14085F,Eddie,Pode Me Chamar
9999,9999,SOPNUVB12A8C13627D,Vincent Bruley,Souffle 2

In [7]:
df1.shape

(100, 3)

In [8]:
df2.shape

(10000, 4)

In [9]:
df1.columns

Index(['Unnamed: 0', 'title', 'artists'], dtype='object')

In [10]:
df2.columns

Index(['Unnamed: 0', 'song_id', 'artist_name', 'title'], dtype='object')

In [12]:
#df2.drop(['Unnamed: 0', 'song_id'], axis=1, inplace=True)

In [13]:
df2

,Unnamed: 0,song_id,artist_name,title
0,0,SOGSMXL12A81C23D88,Rapha\xc3\xabl,Je Sais Que La Terre Est Plate
1,1,SOMBCOW12AAF3B229F,Julie Zenatti,On Efface
2,2,SOEYIHF12AB017B5F4,The Baltimore Consort,Howells Delight
3,3,SODJYEC12A8C13D757,I Hate Sally,Martha Served
4,4,SOGSOUE12A58A76443,Orlando Pops Orchestra,Zip-A-Dee-Doo-Dah (Song of the South)
...,...,...,...,...
9995,9995,SOWJQRH12AB0186761,Brent Lamb,One About Heaven
9996,9996,SOIFMVY12A8AE467B1,U2,October
9997,9997,SOGVDLQ12A58A7E3C5,ZO2,Comin' Home
9998,9998,SOVVGSH12A8C14085F,Eddie,Pode Me Chamar
9999,9999,SOPNUVB12A8C13627D,Vincent Bruley,Souffle 2

In [14]:
df1.drop(['Unnamed: 0'], axis=1, inplace=True)

In [15]:
df1.columns

Index(['title', 'artists'], dtype='object')

In [16]:
# Rename the 'artist' column to 'artist_name'
df1 = df1.rename(columns={'artists': 'artist_name'})

# Select the columns in the desired order
df1 = df1[['artist_name', 'title']]

In [17]:
df1

                    artist_name                              title
0                 Morgan Wallen                         Last Night
1                           SZA                          Kill Bill
2                   Miley Cyrus                            Flowers
3   Eslabon Armado X Peso Pluma                    Ella Baila Sola
4    Grupo Frontera X Bad Bunny                          Un x100to
..                          ...                                ...
95              Scotty McCreery                  It Matters To Her
96                        Jimin                         Like Crazy
97                 Taylor Swift  All Of The Girls You Loved Before
98                   Luke Combs                      5 Leaf Clover
99   YoungBoy Never Broke Again                          Big Truck

[100 rows x 2 columns]

In [18]:
# Merge the dataframes and indicate which rows exist only in df2
merged = pd.merge(df1, df2, on=['artist_name', 'title'], how='outer', indicator=True)

# Filter the merged dataframe to get only the rows that exist in df2
df3 = merged[merged['_merge'] == 'right_only'][['artist_name', 'title']]

In [19]:
df3.shape

(10000, 2)

In [20]:
df_new = df3.sample(n=3000, random_state=42) # n is the number of rows you want to select and random_state ensures reproducibility

In [21]:
df_new.shape

(3000, 2)

In [22]:
df_new.to_csv('not_hot.csv')